*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
}

:root{
    --white: hsl(100, 100%, 100%);
    --black: hsl(0, 0%, 0%);

    --grey-15: hsl(0, 0%, 15%);
    --grey-30: hsl(0, 0%, 30%);
    --grey-40: hsl(0, 0%, 40%);
    --grey-60: hsl(0, 0%, 60%);
    --grey-80: hsl(0, 0%, 80%);
    --grey-90: hsl(0, 0%, 90%);
    --grey-95: hsl(0, 0%, 95%);

    --white-blue-80: hsl(198, 25%, 80%);
    --white-blue-60: hsl(199, 25%, 60%);
    --white-blue-40: hsl(200, 25%, 40%);

    --white-blue-40-50: hsl(200, 50%, 40%);
}

body{
    background-color: var(--black); 
}

html{
    scroll-behavior: smooth;
}

h1{
    font-size: 10rem;
}