@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Poppins&display=swap');

.pageContainer{
    width: 100%;
    display: block;
    height: auto;
}

.hyperLink{
    width: 100%;
    min-height: 3rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.hyperLink h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--white);
    font-size: 1.5rem;
    padding: 2rem 0rem;
}

.flexDiv{
    display: flex;
    justify-content: center;
}

#imageContainer{
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./../../public/img/computador.png");
    position: fixed;
    top: 7vh;
    left: 0px;
    width: 100vw;
    height: auto;
    min-height: 100vh;
    z-index: -1;
}

#firstContainer{
    overflow: hidden;
    display: flex;
    flex-flow: column;
    background-color: transparent;
    filter: grayscale(30%);
    min-height: 90vh;
    width: 100%;
    height: auto;
}

#firstContainer h1{
    color: white;
    text-shadow: -1px -1px 1.5px #fff;
    position: relative;
    padding: 2rem 4rem;
    font-size: 4rem;
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
    word-spacing: 100vw;
}

#textContainer{
    flex-grow : 1;
}

#text{
    text-align: right;
    position: absolute;
    bottom: 1.5rem;
    right: 2rem;
}

#text span{
    color: white;
    text-shadow: 1px 1px 1.5px #fff;
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

#secondContainer{
    width: 100%;
    min-height: 90vh;
    height: auto;
    background-color: var(--black);
}

#selfImage{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#selfImage img{
    width: 50%;
    border-radius: 50%;
    padding: 30px 0;
}

#about{
    width: 100%;
    padding: 2rem 2rem;
    text-align: justify;
}

#about p{
    color: var(--white);
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#aboutName{
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
    padding: 1rem 0rem;
}

#aboutName span{
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#thirdContainer{
    width: 100%;
    min-height: 90vh;
    height: auto;
    background-color: var(--grey-15);
    padding-bottom: 1rem;
}

#servicesExternalContainer{
    width: 100%;
    min-height: 10rem;
    height: auto;
    overflow: hidden;
}

#servicesInternalContainer{
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    left: 0;
    margin-top: 1.2rem;
}

.service{
    width: 50vw;
    display: flex;
    height: auto;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px 30px;
}

.serviceImage img{
    overflow: hidden;
    width: 20%;
    height: auto;
    filter:invert(1);
}

.serviceTitle{
    font-size: 1.8rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: var(--white);
}

.serviceText{
    font-size: 1.1rem;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    padding: 10px 50px;
    text-align: center;
    color: var(--grey-80);
}

#fourthContainer{
    width: 100%;
    min-height: 80vh;
    height: auto;
    background-color: var(--grey-30);
    padding-bottom: 1rem;
    overflow: hidden;
}

.Contact{
    display: flex;
    width: 25%;
    margin: 0 30px;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.ContactName{
    color: var(--white);
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Merriweather', serif;
}

.Contact img{
    width: 9vw;
    filter: grayscale(100%) invert(1);
}

#ContactWhats{
    display: flex;
    width: 33%;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#ContactWhats img{
    width: 9vw;
}

.flexDivContact{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
}

.linkContact{
    width: 100%;
    text-decoration: none;
    margin: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.link{
    position: relative;
    bottom: 18vh;
}

@media screen and (max-width: 970px){
    .aboutDiv{
        width: 100%;
    }

    .flexDiv{
        flex-flow: column;
    }

    #servicesInternalContainer{
        width: 100vw;
        display: flex;
        flex-flow: column wrap;
        position: relative;
        left: 0;
        margin-top: 1.2rem;
    }
    
    .service{
        width: 100vw;
        display: flex;
        height: auto;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 15px 30px;
    }

    .flexDivContact{
        flex-flow: column;
        height: 70vh;
        justify-content: space-evenly;
    }

    #firstContainer h1{
        padding: 0rem 3rem 2.5rem 2rem;
        font-size: 3rem;
    }

    #text{
        bottom: 1rem;
    }

    #text span{
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 970px){
    .aboutDiv{
        width: 50%;
    }
}

