.footer{
    display: flex;
    width: 100%;
    min-height: 4rem;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.flex span{
    color: var(--grey-60);
}